{% extends 'base.html'%} 
{% load static %}
{% block design %} 
<link href="{% static 'css/mysettings.css' %}" rel="stylesheet" media="all" />
{% endblock %} 
{% block contents %}
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">내 설정</h2>
        <form method="POST">
          <div class="input-group">
            <input
              class="input--style-1"
              type="text"
              placeholder="신장"
              name="신장"
            />
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-1 js-datepicker"
                  type="text"
                  placeholder="몸무게"
                  name="몸무게"
                />
                <i
                  class="zmdi zmdi-calendar-note input-icon js-btn-calendar"
                ></i>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">                     
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
              <div class="select-dropdown"></div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-1"
                  type="text"
                  placeholder="년"
                  name="res_code"
                />                  
                </div>
              </div>
              <select name="class">
                <option disabled="disabled" selected="selected">월</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
              <select name="class">
                <option disabled="disabled" selected="selected">일</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>16</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </div>
            <div class="input-group">
                <input
                  class="input--style-1"
                  type="text"
                  placeholder="비밀번호 변경"
                  name="비밀번호 변경"
                />
            </div>
            <div class="input-group">
                <input
                  class="input--style-1"
                  type="text"
                  placeholder="비밀번호 변경 재확인"
                  name="비밀번호 변경 재확인"
                />
            </div>
            <div class="input-group">
                <input
                  class="input--style-1"
                  type="text"
                  placeholder="이메일"
                  name="이메일"
                />
            </div>
            <div class="input-group">
                <input
                  class="input--style-1"
                  type="text"
                  placeholder="휴대전화"
                  name="휴대전화"
                />
                <button class="btn btn--radius btn--green" type="submit">
                    인증번호 보내기
                  </button>
            </div>
            <div class="input-group">
                <input
                  class="input--style-1"
                  type="text"
                  placeholder="휴대전화"
                  name="휴대전화"
                />
                <button class="btn btn--radius btn--green" type="submit">
                    인증확인
                  </button>
            </div>
          </div>
          <div class="p-t-20">
            <button class="btn btn--radius btn--green" type="submit">
              수정
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
