{% extends 'base.html'%} {% block contents %} {% load static %}
<style type="text/css">
    .account_container {
      padding: 100px;
      text-align: center;
      vertical-align: middle;
    }
  
    .others_title {
      justify-content: center;
      padding: 100px;
      text-align: center;
      vertical-align: middle;
    }
  
    .col-md-6 {
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
      flex-flow: row wrap;
      align-items: center;
      vertical-align: middle;
    }
  
    .follw {
      display: inline-block;
      margin-left: 50px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      margin-left: 80%;
    }
  
    .category1 {
      display: flex;
      justify-content: space-around;
    }
    .radio_button {
      display: flex;
      justify-content: space-around;
    }
    .checkbox_button {
      display: flex;
      justify-content: space-around;
    }
  </style>
  <!--css다시하기-->
  
  <div class="others_title">
    <h3>사이즈 측정</h3>
  </div>
  <hr />
  
  <div class="category1">
    <span role="button" tabindex="0" id="btn1">긴팔티</span>
    <span role="button" tabindex="0" id="btn2">바지</span>
    <span role="button" tabindex="0" id="btn3">점퍼</span>
    <span role="button" tabindex="0" id="btn4">원피스</span>
    <span role="button" tabindex="0" id="btn5">치마</span>
    <span role="button" tabindex="0" id="btn6">코트</span>
  </div>
  <hr />
 
  <div class="category1">
    <span type="button" tabindex="0" id="btn7">반팔티</span>
    <span type="button" tabindex="0" id="btn8">후드집업</span>
    <span type="button" tabindex="0" id="btn9">후드티</span>
    <span type="button" tabindex="0" id="btn10">레글런</span>
    <span type="button" tabindex="0" id="btn11">슬리브리스</span>
    <span type="button" tabindex="0" id="btn12">셔츠</span>
  </div>
  <hr />
  <!--
  {% for guide in guides %}
  <div class="category1">
    <span type="button" tabindex="0" href="">{{guide.guide_name}}</span>--> 
    <!-- detail page 를 활용해 pk마다 해당하는 이미지 보여주게 만들 예정-->
    
    <!--url 제대로 작동
    <img src="{{guide.guide_image.url}}" class="img-fluid" alt="인식 불가">
    -->
  <!--</div>
  {% endfor %}-->
  <!-- 
  <div class="category1">
    <span style="left: auto" text-align-left>신장</span
    ><span type="button">140-150</span> <span type="button">150-155</span>
    <span type="button">155-160</span> <span type="button">160-165</span>
    <span type="button">165-170</span> <span type="button">170-175</span>
    <span>175-180</span> <span>180-190</span><span type="button">ㅋㅋ</span
    ><span type="button">zz</span>
  </div>
  <hr />
  <div class="category1">
    <span>몸무게</span><span type="button">35-40</span>
    <span type="button">40-50</span> <span type="button">50-60</span>
    <span type="button">60-70</span> <span type="button">70-80</span>
    <span type="button">80-90</span> <span type="button">90-100</span>
    <span type="button">100 ~</span>
  </div>
  <hr />
  <div class="category1">
    <span>스타일태그</span><span type="button">댄디</span>
    <span type="button">모던</span> <span type="button">밀리터리</span>
    <span type="button">빈티지</span> <span type="button">스트릿</span>
    <span type="button">스포티</span> <span type="button">아메카지</span>
    <span type="button">아방가르드</span> <span type="button">캐주얼</span>
    <span type="button">페미닌</span>
  </div>
  <hr />-->
  <br />
  <br />
  <br />
  <!--여기까지 상단부-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" id="title">사이즈 측정 방법</h1>
      <p class="lead" id="description">다양한 종류의 옷 치수를 재기 위한 방법을 소개합니다.</p>
      <img src="{% static '긴팔티.png' %}" class="img-fluid" id="guide" alt="Responsive image" width="500" height="500
      ">
    </div>
  </div>
  </div>

<script>
  const btn1 = document.querySelector("#btn1");
  const btn2 = document.querySelector("#btn2");
  const btn3 = document.querySelector("#btn3");
  const btn4 = document.querySelector("#btn4");
  const btn5 = document.querySelector("#btn5");
  const btn6 = document.querySelector("#btn6");
  const btn7 = document.querySelector("#btn7");
  const btn8 = document.querySelector("#btn8");
  const btn9 = document.querySelector("#btn9");
  const btn10 = document.querySelector("#btn10");
  const btn11 = document.querySelector("#btn11");
  const btn12 = document.querySelector("#btn12");

  function Click1() {
    document.getElementById("guide").src="{% static '긴팔티.png' %}"
    console.log("긴팔티");
  }

  function Click2() {
    document.getElementById("guide").src="{% static '바지.png' %}"
    console.log("바지");
  }

  function Click3() {
    document.getElementById("guide").src="{% static '점퍼.png' %}"
    console.log("점퍼");
  }

  function Click4() {
    document.getElementById("guide").src="{% static '원피스.png' %}"
    console.log("원피스");
  }

  function Click5() {
    document.getElementById("guide").src="{% static '치마.png' %}"
    console.log("치마");
  }

  function Click6() {
    document.getElementById("guide").src="{% static '코트.png' %}"
    console.log("코트");
  }

  function Click7() {
    document.getElementById("guide").src="{% static '반팔티.png' %}"
    console.log("반팔티");
  }

  function Click8() {
    document.getElementById("guide").src="{% static '후드집업.png' %}"
    console.log("후드집업");
  }

  function Click9() {
    document.getElementById("guide").src="{% static '후드티.png' %}"
    console.log("후드티");
  }

  function Click10() {
    document.getElementById("guide").src="{% static '레글런.png' %}"
    console.log("레글런");
  }

  function Click11() {
    document.getElementById("guide").src="{% static '슬리브리스.png' %}"
    console.log("슬리브리스");
  }

  function Click12() {
    document.getElementById("guide").src="{% static '셔츠.png' %}"
    console.log("셔츠");
  }

  function init() {
    btn1.addEventListener("click", Click1);
    btn2.addEventListener("click", Click2);
    btn3.addEventListener("click", Click3);
    btn4.addEventListener("click", Click4);
    btn5.addEventListener("click", Click5);
    btn6.addEventListener("click", Click6);
    btn7.addEventListener("click", Click7);
    btn8.addEventListener("click", Click8);
    btn9.addEventListener("click", Click9);
    btn10.addEventListener("click", Click10);
    btn11.addEventListener("click", Click11);
    btn12.addEventListener("click", Click12);
  }

  init();
</script>

{% endblock %}
