{% extends 'base.html'%} {% block contents %} {% load static %}
<style type="text/css">
    .account_container {
      padding: 100px;
      text-align: center;
      vertical-align: middle;
    }
  
    .others_title {
      justify-content: center;
      padding: 100px;
      text-align: center;
      vertical-align: middle;
    }
  
    .col-md-6 {
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
      flex-flow: row wrap;
      align-items: center;
      vertical-align: middle;
    }
  
    .follw {
      display: inline-block;
      margin-left: 50px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      margin-left: 80%;
    }
  
    .category1 {
      display: flex;
      justify-content: space-around;
    }
    .radio_button {
      display: flex;
      justify-content: space-around;
    }
    .checkbox_button {
      display: flex;
      justify-content: space-around;
    }
  </style>
  <!--css다시하기-->
  
  <div class="others_title">
    <h3>사이즈 측정</h3>
  </div>
  <hr />
  
  <div class="category1">
    <span role="button" tabindex="0">긴팔티</span>
    <span role="button" tabindex="0">바지</span>
    <span role="button" tabindex="0">점퍼</span>
    <span role="button" tabindex="0">원피스</span>
    <span role="button" tabindex="0">치마</span>
    <span role="button" tabindex="0">코트</span>
  </div>
  <hr />
 
  <div class="category1">
    <span type="button" tabindex="0">반팔티</span>
    <span type="button" tabindex="0">후드집업</span>
    <span type="button" tabindex="0">후드티</span>
    <span type="button" tabindex="0">레글런</span>
    <span type="button" tabindex="0">슬리브리스</span>
    <span type="button" tabindex="0">셔츠</span>
  </div>
  <hr />
  {% for guide in guides %}
  <div class="category1">
    <span type="button" tabindex="0" href="">{{guide.guide_name}}</span> 
    <!-- detail page 를 활용해 pk마다 해당하는 이미지 보여주게 만들 예정-->
    
    <!--url 제대로 작동
    <img src="{{guide.guide_image.url}}" class="img-fluid" alt="인식 불가">
    -->
  </div>
  {% endfor %}
  <!-- 
  <div class="category1">
    <span style="left: auto" text-align-left>신장</span
    ><span type="button">140-150</span> <span type="button">150-155</span>
    <span type="button">155-160</span> <span type="button">160-165</span>
    <span type="button">165-170</span> <span type="button">170-175</span>
    <span>175-180</span> <span>180-190</span><span type="button">ㅋㅋ</span
    ><span type="button">zz</span>
  </div>
  <hr />
  <div class="category1">
    <span>몸무게</span><span type="button">35-40</span>
    <span type="button">40-50</span> <span type="button">50-60</span>
    <span type="button">60-70</span> <span type="button">70-80</span>
    <span type="button">80-90</span> <span type="button">90-100</span>
    <span type="button">100 ~</span>
  </div>
  <hr />
  <div class="category1">
    <span>스타일태그</span><span type="button">댄디</span>
    <span type="button">모던</span> <span type="button">밀리터리</span>
    <span type="button">빈티지</span> <span type="button">스트릿</span>
    <span type="button">스포티</span> <span type="button">아메카지</span>
    <span type="button">아방가르드</span> <span type="button">캐주얼</span>
    <span type="button">페미닌</span>
  </div>
  <hr />-->
  <br />
  <br />
  <br />
  <!--여기까지 상단부-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <img src="{% static '긴팔티.png' %}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <!--
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4">
          <span class="box_title">하하잇</span>&nbsp;&nbsp;<span class="follow"
            ><input type="button" value="FOLLOW11"
          /></span>
          <form action="">
            <span><input type="button" value="FOLLOW22" /></span>
          </form>
          <h3 class="mb-0">홍길동</h3>
          <div class="mb-1 text-muted">170cm >>70kg</div>
          <p class="card-text mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>-->
  </div>
{% endblock %}
