{% extends 'base.html'%} {% block contents %} {% load static %}
<style type="text/css">
  .account_container {
    padding: 100px;
    text-align: center;
    vertical-align: middle;
  }

  .others_title {
    justify-content: center;
    padding: 100px;
    text-align: center;
    vertical-align: middle;
  }

  .col-md-6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    flex-flow: row wrap;
    align-items: center;
    vertical-align: middle;
  }

  .follw {
    display: inline-block;
    margin-left: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 80%;
  }

  .category1 {
    display: flex;
    justify-content: space-around;
  }
  .radio_button {
    display: flex;
    justify-content: space-around;
  }
  .checkbox_button {
    display: flex;
    justify-content: space-around;
  }
</style>

<div class="others_title">
  <h3>사이즈 측정</h3>
</div>
<hr />

<div class="category1">
  <span role="button" tabindex="0">긴팔티</span>
  <span role="button" tabindex="0">바지</span>
  <span role="button" tabindex="0">점퍼</span>
  <span role="button" tabindex="0">원피스</span>
  <span role="button" tabindex="0">치마</span>
  <span role="button" tabindex="0">코트</span>
</div>
<hr />

<div class="category1">
  <span type="button" tabindex="0">반팔티</span>
  <span type="button" tabindex="0">후드집업</span>
  <span type="button" tabindex="0">후드티</span>
  <span type="button" tabindex="0">레글런</span>
  <span type="button" tabindex="0">슬리브리스</span>
  <span type="button" tabindex="0">셔츠</span>
</div>
<hr />
{% for guide in guides %}
<div class="category1">
  <span type="button" tabindex="0" href="{% url 'detail' guide.id %}"
    >{{guide.guide_name}}</span
  >
</div>
{% endfor %}

<br />
<br />
<br />

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">
      This is a modified jumbotron that occupies the entire horizontal space of
      its parent.
    </p>
    <img
      src="{% static '긴팔티.png' %}"
      class="img-fluid"
      alt="Responsive image"
    />
  </div>
</div>

{% endblock %}
