{% extends 'base.html'%} {% block design %}
<style type="text/css">
  .account_container {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    vertical-align: middle;
  }
</style>
{%endblock%} {% block contents %} {% include 'closet.html' %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for record in records.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
            <p class="card-text">
              {{record.cloth_name}}
            </p></div>
            <img src="{{record.image.url}}"width="100%" class="img-fluid" alt="인식 불가">
            <!--
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
              aria-label="Placeholder: Thumbnail"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            -->
            <div class="card-body">
              <p class="card-text">
                어깨 길이 - {{record.shoulder}}
              </p>
              <p class="card-text">
                가슴단면 - {{record.chest}}
              </p>
              <p class="card-text">
                팔 길이 - {{record.arm}}
              </p>
              <p class="card-text">
                총장 - {{record.total_length}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    role="button"
                    class="btn btn-sm btn-outline-secondary"
                    href="{%url 'detail' record.id%}"
                  >
                    옷장 등록
                  </a>
                  <!-- <a
                    role="button"
                    class="btn btn-sm btn-outline-secondary"
                    href="{%url 'update' record.id%}"
                  >
                    수정
                  </a> -->
                  <a
                    role="button"
                    class="btn btn-sm btn-outline-secondary"
                    href="{%url 'delete' record.id%}"
                  >
                    제거
                  </a>
                  <a
                    role="button"
                    class="btn btn-sm btn-outline-secondary"
                    href="{%url 'compare' record.id%}"
                  >
                    비교
                  </a>
                </div>
                
              </div>
              <br>
              <small class="text-muted">작성자 - {{record.writer}}</small>
              <br>
              <small class="text-muted">{{record.pub_date}}</small>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</main>
<hr>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
      Find Fine Fit! &copy; 2020 FFF. &middot;
      <a href="https://github.com/ProjectFFF/FFF">GitHub</a> &middot;
      <a href="https://choosealicense.com/licenses/bsd-2-clause/">License</a>
    </p>
  </div>
</footer>
{% endblock %}
